BOT_TOKEN=isi_token_bot_telegram_di_sini
HF_TOKEN=isi_token_huggingface_di_sini
HF_VISION_MODEL=microsoft/Florence-2-large
HF_GEN_MODEL=black-forest-labs/FLUX.1-schnell
HF_API_URL=https://router.huggingface.co/hf-inference/models
DATABASE_PATH=ugcbot.db
PHOTO_DIR=photos
